<launch>
    <!-- Map server -->
    <arg name="map_file" default="$(find navigation)/maps/indoor_map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    
    <!-- AMCL -->
    <include file="$(find navigation)/launch/amcl.launch"/>

    <!-- move_base -->
    <include file="$(find navigation)/launch/move_base.launch"/>
    
</launch>