<launch>
    <include file="$(find realsense2_camera)/launch/rs_d400_and_t265.launch">
      <arg name="serial_no_camera1" value="944222110589"/> 			<!-- Note: Replace with actual serial number (camera1 default: t265)-->
      <arg name="serial_no_camera2" value="925622071569"/> 			<!-- Note: Replace with actual serial number (camera2 default: d400)-->
    </include>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense2_camera)/rviz/d400_and_t265.rviz" required="true" />
</launch>
